
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    # Optional - specify the uid and gid you would like Jellyfin to use instead of root
    # user: uid:gid
    env_file:
      - .env
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - jellyfin-config:/config
      - jellyfin-cache:/cache
      - type: bind
        source: ${SHOWS_DIR}
        target: /shows
      - type: bind
        source: ${MOVIES_DIR}
        target: /movies
      - type: bind
        source: ${MUSIC_DIR}
        target: /music
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      # - type: bind
      #   source: /path/to/fonts
      #   target: /usr/local/share/fonts/custom
      #   read_only: true
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=http://jellyfin.hydra-adelie.ts.net/
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    labels:
      - tsdproxy.enable=true
      - tsdproxy.name=jellyfin
      - tsdproxy.port=8096

volumes:
  jellyfin-config:
  jellyfin-cache:

networks:
  proxy:
    external: true
