
services:
  tailscale:
    image: tailscale/tailscale
    container_name: tailscale
    cap_add:
      - NET_ADMIN
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_HOSTNAME=home-server
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true
