version: "3.8"

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/data
    labels:
      - tsdproxy.enable=true
      - tsdproxy.name=portainer
      - tsdproxy.port=9000
    networks:
      - proxy

networks:
  proxy:
    external: true
