
services:
  actual-server:
    image: docker.io/actualbudget/actual-server:latest
    environment:
      - TZ=${TZ}
    volumes:
      - ./productivity/actual-budget/data:/data
    healthcheck:
      test: ['CMD-SHELL', 'node src/scripts/health-check.js']
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 20s
    restart: unless-stopped
    networks:
      - proxy
    ports:
      - "3000:3000"
    labels:
      - tsdproxy.enable=true
      - tsdproxy.name=actual
      - tsdproxy.port=3000

networks:
  proxy:
    external: true
